@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$dark-blue: hsl(235, 16%, 14%);
$very-dark-blue: hsl(234, 17%, 12%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text';
    font-size: 14px;
    color: white;
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
        background-color: darken($dark-desaturated-blue, 5%);
    }
    to {
        transform: rotateX(-90deg);
        background-color: darken($dark-desaturated-blue, 15%);
    }
}

@keyframes inverse {
    from {
        transform: rotateX(90deg);
        background-color: lighten($dark-desaturated-blue, 15%);
    }
    to {
        transform: rotateX(0deg);
        background-color: $dark-desaturated-blue;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../images/pattern-hills.svg') bottom, linear-gradient($very-dark-blue, $dark-blue);
    background-repeat: no-repeat;
    background-size: 100%;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        letter-spacing: 7px;

        h1 {
            font-size: 2em;
            text-transform: uppercase;
            margin-top: 20%;
        }

        .global-countdown {
            display: flex;
            justify-content: center;
            margin-bottom: 20%;

            .counter {
                display: flex;
                flex-direction: column;
                margin: 20px;

                .countdown {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 140px;
                    height: 140px;
                    perspective: 700px;

                    .top {
                        position: absolute;
                        overflow: hidden;
                        width: 100%;
                        height: 50%;
                        top: 0;
                        border-radius: 8px 8px 0px 0px;
                        box-shadow: inset 0px 10px -1px -10px rgba(black, 0.2), 0px 10px 0px 0px rgba(black, 0.2);
                        background:
                            linear-gradient(0deg, darken($dark-desaturated-blue, 5%) 0%, darken($dark-desaturated-blue, 5%) 100%),
                            linear-gradient(0deg, darken($dark-desaturated-blue, 5%) 0%, darken($dark-desaturated-blue, 5%) 100%),
                            radial-gradient(circle at 0 100%, rgba(black, 0.2) 8px, darken($dark-desaturated-blue, 5%) 8px),
                            radial-gradient(circle at 100% 100%, rgba(black, 0.2) 8px, darken($dark-desaturated-blue, 5%) 8px);
                        background-position: top left, top right, bottom left, bottom right;
                        background-size: 50% 50%;
                        background-repeat: no-repeat;
                    }

                    .top span {
                        position: absolute;
                        color: rgba($soft-red, 0.8);
                        font-size: 1em;
                        bottom: 0;
                        transform: translateY(50%);
                    }

                    .top.switch {
                        transform-origin: 50% 100%;
                        transition: 0.3s ease-in;
                    }

                    .bottom {
                        position: absolute;
                        overflow: hidden;
                        width: 100%;
                        height: 50%;
                        bottom: 0;
                        border-radius: 0px 0px 8px 8px;
                        box-shadow: 0px 10px 0px 0px rgba(black, 0.2);
                        background:
                            radial-gradient(circle at 0% 0%, rgba(black, 0.05) 8px, $dark-desaturated-blue 8px),
                            radial-gradient(circle at 100% 0%, rgba(black, 0.05) 8px, $dark-desaturated-blue 8px),
                            linear-gradient(0deg, $dark-desaturated-blue 0%, $dark-desaturated-blue 100%),
                            linear-gradient(0deg, $dark-desaturated-blue 0%, $dark-desaturated-blue 100%);
                        background-position: top left, top right, bottom left, bottom right;
                        background-size: 50% 50%;
                        background-repeat: no-repeat;
                    }

                    .bottom span {
                        position: absolute;
                        color: $soft-red;
                        font-size: 1em;
                        top: 0;
                        transform: translateY(-50%);
                    }

                    .bottom.switch {
                        box-shadow: none;
                        transform-origin: 50% 0%;
                        transition: 0.3s ease-out;
                        transition-delay: 0.3s;
                    }
                }

                .countdown > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 5em;
                    letter-spacing: 0px;
                }

                .countdown-title {
                    margin-top: 30px;
                    text-align: center;
                    text-transform: uppercase;
                    color: $grayish-blue;
                }
            }
        }
    }
}

i {
    margin: 10px;
    font-size: 2em;
    color: $grayish-blue;
}

i:hover {
    cursor: pointer;
    color: $soft-red;
}

.shadow {
    box-shadow: 0px 10px 0px 0px rgba(black, 0.2);
}

.no-transition {
    transition: none !important;
}